 
  .proyecto {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .proyecto-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    
  }


  .proyecto-img:hover {
    .overlay-proyecto-image {
        height:75%;
    }

  }

  .overlay-proyecto-image {
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.5s ease;
    background-color: rgba(56, 58, 56, 0.356);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    
  
  }

  .proyecto-nombre {
    font-size: 16px;
    font-weight: bold;
    color: #3895EA;
    padding: 5px 0;
  }

  .badge-technologie{
    padding: 5px 10px;
    background-color: #141E30;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    
  }
  .badge-technologie:hover{
    transform: scale(1.2);
  }
  

