* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}

body {
  background: #141E30;
  background: -webkit-linear-gradient(to right, #132f50, #040913);
  background: linear-gradient(to right, #132f50, #040913);

}

:root {
  --text-white: #FCEDED;
}


main {
  width: 760px;
  margin:0 auto;
  padding: 0 20px;

}

.container {
  margin: 0 300px;
}



header{
  position: relative;
  width: 100%;
  height: 70px;
}


.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  z-index: 99999;
  
}

.navbar a {
  text-decoration: none;
  color: #FCEDED;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.9;

}

.navbar a:hover{
  color: #DD8200;
}
.sobre-mi{
 
}
.sobre-mi-avatar{
  border-radius:50%;
  width: 150px;
  height: 150px;
  border-bottom: 5px solid #040913;
  border-bottom-color: #DD8200;
}
.sobre-mi-title{
  color: #DD8200;
  font-weight: 500;
  font-size: 30px;
}
.sobre-mi-description{
  color: #f7eded;
  line-height: 30px;

}
.sobre-mi-redes-sociales  a{
  transition: transform 0.3s ease;
}
.sobre-mi-redes-sociales  a:hover{
  transform: scale(1.2);
}

.emphasis{
  font-weight: bold;
}
.important{
  font-weight: 400;
  color: #DD8200;
  font-size: 28px;
}
.title-section {
  color: #DD8200;
  font-weight: 300;
  font-size: 30px;
 

}
.text-white{
  color: #FCEDED;

}
.text-primary{
  color:#DD8200;
}


.bg-nav-scroll{
  background-color: #3f485bb5;
}
.bg-transperent{
  background-color: transparent;
}
.fs-3{
  font-size: 20px;
}
.fs-4{
  font-size: 24px;
}
.fs-1{
  font-size: 12px;
}
.fs-2{
  font-size: 16px;
}
.fw-bold{
  font-weight: bold;
}
footer{
  width: 100%;
  height: 60px;
  color: #FCEDED;
  display: flex;
  align-items: center;
  justify-content: center;
}



.experiencia-info,.sobre-mi-profile{
  width: 30%;
}
.experiencia-description,.sobre-mi-description{
  width: 70%;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;

}


.btn {
  padding: 10px;
  color: var(--text-white);
  cursor: pointer;
  font-weight: 600;
  border: none;
  width: 100%;
}

.btn:hover {
  opacity: 0.8;
}

.btn-first-eye {
  background-color: #141E30;
  text-decoration: none;
}

.btn-second-github {
  background-color: #DD8200;
  text-decoration: none;

}

.contacto-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 10px;
}

input,textarea {
  width: 100%;
  padding: 12px 60px;
  font-size: 16px;
  border: 2px solid transparent; 
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
  outline: none; 
  margin-top: 6px;
  background-color: rgb(92 131 131 / 16%);
 
  color: #FCEDED;
}


input:focus,textarea:focus {
  border-color: rgb(25, 45, 83); /* Cambiar color del borde en focus */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra alrededor del input */
}

.contacto-grid-enviar{
  padding: 12px 20px;
  background: #141E30;
  color: #FCEDED;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.8;
}
.contacto-grid-enviar:hover{
  opacity: 1;
}
.contacto-grid-nombre,.contacto-grid-correo {
  grid-column: span 2;
}

.contacto-grid-mensaje {
  grid-column: span 4;
}
.contacto-grid>button {
  grid-column: span 1;
}
.text-nombre,.text-correo,.text-mensaje{
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #FCEDED;
  font-weight: 600;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-1{
  margin-top: 10px;
}

.mt-2{
  margin-top: 20px;

}

.mt-3{
  margin-top: 30px;
}
.mt-9{
  margin-top: 90px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.text-center{
  text-align: center;
}
.w-full{
  width: 100%;
}
.line-height{
  line-height: 30px;
}
.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 6px;
}
.gap-3 {
  gap: 8px;
}

.gap-4 {
  gap: 10px;
}
.gap-5 {
  gap: 12px;
}

.p-4 {
  padding: 5px;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

@media (max-width: 640px) {
 
  .contacto-grid-nombre,.contacto-grid-correo {
    grid-column: span 4;
  }
  
  .contacto-grid-mensaje {
    grid-column: span 4;
  }

  .proyectos-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 760px){
  main{
    width: 100%;
  }
  .sobre-mi{
    flex-direction: column;
    margin: 0 auto;
  }

  .experiencia-info,.sobre-mi-profile{
    width: 100%;
  }
  .experiencia-description,.sobre-mi-description{
    width: 100%;
  }
  .experiencia-container{
    flex-direction: column;
  }
  .sobre-mi-description{
    text-align: center;
  }
}




.glowing-text {
 
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #040913, 0 0 40px #040913;
}